.row > div{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.fizz{
    background-color: blue!important;
}

.buzz{
    background-color: red!important;
}

.fizzbuzz{
    background-color: brown!important;
}